*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: white;
  color: #222222;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  position: relative;
  cursor: default; }
   
input[type=submit]{
  display: block;
  width: 100%;
  height: 80px;
  border: none;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  background: #008cba;
  color: #000;
  cursor: pointer;
}

input[type='color']{
    display: block;
    width: 100%;
    height: 80px;
	margin: 10px 0 10px 0;
    border: none;  
    cursor: pointer;
}

/* .column3{ */
	/* margin:0; */
/* } */

.column button, .column form input, .column3 button, .column3 form{
  display: inline-table;
  width: 100%;
  height: 80px;
  border: none;
  padding: 0;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  background: #008cba;
  color: #000;
}

@media screen and (min-width: 500px) {
  .column3 button:nth-child(odd), .column3 form {
    width: 32%;
  }
  .column3 button:nth-child(even) {
	margin-left:2%;
	margin-right:2%;
    width: 32%;
  }
}
